.footer{
    display: flex;
    width:100%;
    background-color: var(--primary-color);
    border-top: 2px solid var(--white-default-color);
    padding: 1.5rem 0;
    align-items: center;
    justify-content: center;
    color: #fff;
}

@media (max-width:650px){
    .footer{
      position:fixed;
      
    }

  }