.footer{
    position: fixed;
    display: flex;
    width:100%;
    background-color: black;
    border-top: 2px solid #f44336;
    padding: 1.5rem 0;
    align-items: center;
    justify-content: center;
    color: #fff;
    bottom: 0;
}